{
  "extends": ["eslint:recommended"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "eslint/semi": ["error"],
    "eslint/explicit-function-return-type": "off",
    "eslint/explicit-module-boundary-types": "off",
    "eslint/restrict-template-expressions": "off",
    "eslint/restrict-plus-operands": "off",
    "eslint/no-unsafe-member-access": "off",
    "eslint/no-unused-vars": ["off", { "argsIgnorePattern": "^_" }],
    "no-case-declarations": "off"
  },
  "parser": "@babel/eslint-parser"
}
